.about-me__text-content {
    width: 100%;
    min-height: 292px;
    padding: 278px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (max-width: 1280px) {
    .about-me__text-content {
        padding: 0;
    }
}