.achievements {
  width: 100%;
  max-width: 1440px;
  height: 796px;
  background-image: url('../images/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 870px) {
    .achievements {
        height: fit-content;
    }
}
