.work__image-wrapper {
  background: linear-gradient(to top,black, rgba(0, 0, 0, 0));
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 500px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  cursor: pointer;
  max-width: 594px;
  max-height: 491px;
  position: relative;
  z-index: 1;
}

.work__image-wrapper:hover {
  background-position-y: 0px;
  transition: 0.3s all ease;
}

.work__image-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
}

.work__image-wrapper:hover::before {
  opacity: 1;
  transition: 0.3s all ease;
}

.work__image-wrapper::after {
  /* content: url("../../../images/imdb_icon.png"); */
  filter: brightness(0.75) saturate(0.7);
  position: absolute;
  top: 700px; 
}

.work__image-wrapper:hover::after {
  top: 200px;
  transition: 0.4s all ease;
}

@media screen and (max-width: 978px) {
  .work__image-wrapper {
    overflow: hidden;
  }
}