.work__article-categorie {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    display: block;
    max-width: max-content;
    border-radius: 8px;
    background-color: rgba(24, 2, 39, 0.6);
    box-shadow: 0 0 15px #000;
}