.other-projects__title {
    color: var(--main-text-color);
    font-size: 72px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .other-projects__title {
        font-size: 36px;
    }
}