.about-me__content {
    padding: 107px 74px;
    display: flex;
    gap: 34px;
}

@media screen and (max-width: 978px) {
    .about-me__content {
        padding-top: 0;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .about-me__content {
        padding: 0 32px;
        gap: 0px;
    }
}