.workstack__icon {
    width: 50px; 
    height: 50px; 
    background-size: cover;
    background-position: center;
    position: relative;
}

.workstack__icon::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    top: 50%;
    left: 50%;
    z-index: -1;
    box-shadow: 0 0 25px 25px rgba(255, 255, 250, 0.8);
}