.block-title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	/* font-size: 64px; */
	font-size: calc(2vh + 2vw);
	/* line-height: 77px; */
	line-height: calc(4vh);
    background-color: var(--main-text-color);
    color: var(--main-black);
    text-align: center;
    padding: 25px 0 10px;
    margin: 0;
}