.workstack__icons {
    display: flex;
    padding: 15px 100px;
    justify-self: center;
    gap: 130px;
    box-shadow: 0 0 30px #000;
    background: linear-gradient(90deg, var(--overlay-low-opacity) 0%, 
    var(--overlay) 50%, 
    var(--overlay-low-opacity) 100%);
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 800px) {
    .workstack__icons {
        gap: 50px;
    }
}

@media screen and (max-width: 570px) {
    .workstack__icons {
        gap: 20px;
        padding: 20px 50px;
    }
}

@media screen and (max-width: 380px) {
    .workstack__icons {
        flex-direction: column;
    }
}