.work__article-button {
    width: 180px;
    height: 40px;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid var(--btn-small-border);
    border-radius: 100px;
    box-shadow: 0 0 30px 10px var(--main-bg-color);
    color:var(--side-text-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    overflow: hidden;
    
}

.work__article-button:hover {
    cursor: pointer;
}

.work__article-button::before {
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(99.05deg, var(--main-bg-color) 0.07%, var(--purple-light) 106.32%);
    transition: opacity 0.2s ease-in-out;
}

.work__article-button:hover::before {
    opacity: 1;
}