.clients__logos-wrapper {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 900px) {
    .clients__logos-wrapper {
        flex-direction: column;
        gap: 30px; 
        align-items: center;
    }
}
