.home__button {
    min-width: 40px;
    min-height: 40px;
    position: absolute;
    top: 60%;
    background-color: transparent;
    background-image: url("../../../../images/home__button.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: transparent;
}