.home__contact {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	border: 8px solid var(--main-text-yellow);
	border-radius: 20px;
    padding: 11px 17px;
    color: var(--main-text-color);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 5%;
	visibility: visible;
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

.home__contact:hover {
	background-color: var(--main-text-yellow);
	color: var(--main-black);
}

@media screen and (max-width: 1000px) {
	.home__contact {
		top: 70%;
	}
}

@media screen and (max-width: 1000px) {
	.home__contact {
		visibility: hidden;
		opacity: 0;
	}
}