.footer__social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 48px;

    position: relative;
}

/* .footer__social-icon::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 0 55px var(--main-text-yellow);
} */

@media screen and (max-width: 500px) {
    .footer__social-icon {
        padding-top: 0;
    }
  }