.fitness-solution__cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 870px) {
  .fitness-solution__cards {
    flex-direction: column;
  }
}