.carousel-title {
    margin: 0 0;
    text-align: center;
    color: var(--main-text-color);
    font-size: 72px;
}

@media screen and (max-width: 768px) {
    .carousel-title {
        font-size: 56px;
    }
}

@media screen and (max-width: 480px) {
    .carousel-title {
        font-size: 36px;
    }
}