.footer__social-icon_type_mail {
    /* background-image: url("../../../../images/footer__mail-icon.png"); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}