.footer__social-icon_type_artstation {
    /* background-image: url("../../../../images/footer__artstation-icon.png"); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: scale(0.8);
    filter: saturate(0) brightness(0.75);
    border-radius: 50%;
}