.footer__social-icon_type_linkedin {
    /* background-image: url("../../../../images/footer__linkedinl-icon.png"); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}