.other-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 60px;
    column-gap: 40px;
    padding: 50px 50px;
    border-radius: 55px;
    /* box-shadow: inset 0 0 50px rgba(160, 16, 255, 0.3), 0 0 50px rgba(160, 16, 255, 0.3); */
}

@media screen and (max-width: 1200px) {
    .other-projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .other-projects {
        grid-template-columns: 1fr;
    }
}