.showreels__button {
    text-decoration: none;
    max-width: 400px;
    padding: 20px;
    height: 100px;
    font-size: 24px;
    text-align: center;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid var(--btn-border);
    border-radius: 100px;
    color:var(--side-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 80px var(--btn-out-shadow);
}

.showreels__button:hover {
    cursor: pointer;
    color: #ffffff;
}

.showreels__button::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 50px var(--btn-inner-shadow);
}

.showreels__button::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    background: linear-gradient(99.05deg, var(--main-bg-color) 0.07%, var(--purple-light) 106.32%);
    transition: opacity 0.2s ease-in-out;
}

.showreels__button:hover::after {
    opacity: 1;
}